*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter',sans-serif;
    color: #222;
    font-weight: 400;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 80px 1fr;
}

.side-bar{
    background-color: #333;
    color: #fff;
    padding: 5px;
}

.main-header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(122, 29, 229);
    padding: 20px;
}
.nav-sec{
    display: flex;
    gap: 20px;
}

.main-area{
    display: grid;
    grid-template-columns: 350px 1fr 250px;
    height: 100vh;
}

.main-area div:nth-child(odd){
    background-color: #cccccc;

}

.emails-gallery{
    text-align: center;
    padding-top: 20px;
}

.e-view{
    padding-top: 20px ;
    text-align: center;
    font-size: 12px;
} 

.additional-info-sec{
    font-size: 12px;
    padding-top: 20px;
    text-align: center;
}

.trash-btn{
    background-color: brown;
    font-weight: 600;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
}

.head-nav-btn:link,
.head-nav-btn:visited{
    background-color: rgb(99, 2, 202);
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
}
